.header-profile {
  color: #fff;
  text-align: center;
  padding-top: 2rem;
}

.welcome-message {
  margin: 0;
}

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.edit-button:hover {
  background-color: #00a868;
}
